%p
  = image_tag(asset_path('star.png')) + ' Solved by you.'
%p
  = image_tag(asset_path('exclamation.png')) + ' Solved by another user.'
%p
  = image_tag(asset_path('logo.png'), size: '16x16') + ' Nobody has solved!!'
