%table.table.table-bordered.table-striped
  %tr
    %th Question
    %th Genre
    %th Description
    %th Point

  - @event.event_questions.each do |event_question|
    %tr
      %td
        = link_to event_question.question.name, event_question.question
      %td= event_question.question.genre.name
      %td= event_question.question.description
      %td= event_question.point
